<div>
	<div layout="row" flex >
	    <div layout="column" flex id="content" ng-repeat="book in books">
	        <md-content layout="column" flex class="md-padding" >
				<md-card>
				 <img ng-src="{{book.img}}" class="md-card-image">
				 <h2>{{book.title}}</h2>
				 <p>
				   {{book.description}}
				   <small>By: {{book.author}}</small>
				   <!--<small>{{book._id}}</small>-->
				 </p>
				 <md-button class="md-raised md-warn" ng-click="delete(book._id)">Delete</md-button>
				</md-card>
	        </md-content>
	    </div>
	</div>
</div>