	<div layout="row" flex >
	    <div layout="column" flex id="content" class="md-padding form" >
	            <div>
	                <p>ISBN: <input type="text" ng-model="book.isbn" placeholder="ISBN..."></p>
	            </div>
	            <div>
	                <p>Title: <input type="text" ng-model="book.title" placeholder="Title..."></p>
	            </div>
	            <div>
	                <p>Author: <input type="text" ng-model="book.author" placeholder="Author..."></p>
	            </div>
	            <div>
	                <p>Genre: <input type="text" ng-model="book.genre" placeholder="Genre..."></p>
	            </div> 
	            <div>
	                <p>Year: <input type="number" ng-model="book.year" placeholder="Year..."></p>
	            </div> 
	            <div>
	                <p>Image URL: <input type="text" ng-model="book.img" placeholder="URL..."></p>
	            </div> 	            
	            	<md-button id="create"ng-click="create()" class="md-raised md-primary">Create</md-button>
	            <div>

	</div>