body{
	font-family: 'Open Sans', sans-serif;
}

md-card{
	max-width: 250px;
	min-width: 250px;

	min-height: 200px;
	max-height: 420px;

	text-align: center;
}

md-card h2{
	text-align: center;
}

md-card p{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

md-card img{
	height: 150px;
	
}
#create{
	width:100px;
}

.menu{
	margin-left: 20px;
}

.form{
	margin: 20px;
}


